* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

header {
    background: lightgrey;
    padding: 30px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: navy;
}

header nav ul li {
    display: inline;
}
